.main{
    margin-top: 20px;
}


.univ-btn{
    width: 100%;
    background-color: rgb(11, 101, 101);
    padding: 0.8rem;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 400;
    display: block;
    width: 100%;
    cursor: pointer;
    border: 2px solid #857e6e;

}